<!-- Map -->
  <div id="map" ></div>
  <!-- end Map -->

  <!-- Search Box -->
  <div class="search-box-wrapper">
      <div class="search-box-inner">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-4">
                      <div class="search-box map">
                        <form class="example-form" (submit)="search()">
                            <input type="text" placeholder="Search for a street" style="border: 1px solid red; border-radius: 5px" (keyup) = 'locateMe($event)' [formControl]="control" [matAutocomplete]="auto">
                            <button class="btn btn-info">Search</button>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                                <a href="/Content/{{street}}"> {{street}} </a>
                                </mat-option>
                            </mat-autocomplete>
                        </form>
                      </div><!-- /.search-box.map -->
                  </div><!-- /.col-md-3 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </div><!-- /.search-box-inner -->
  </div>
  <!-- end Search Box -->


<!-- Page Content -->
<div id="page-content">
    <section id="banner">
        <div class="block has-dark-background background-color-default-darker center text-banner">
            <div class="container">
                <h1 class="no-bottom-margin no-border">Ogun State Socia-Cultural platform <a href="#" class="text-underline"></a>!</h1>
            </div>
        </div>
    </section><!-- /#banner -->
    <section id="our-services" class="block">
        <div class="container">
            <header class="section-title"><h2>Goal and Objectives</h2></header>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box equal-height">
                        <figure class="icon"><i class="fa fa-folder"></i></figure>
                        <aside class="description">
                            <header><h3>Identification</h3></header>
                            <p>Identify foundational cultural practices and heritage of Ogun State</p>
                            <a href="/About" class="link-arrow">Read More</a>
                        </aside>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box equal-height">
                        <figure class="icon"><i class="fa fa-users"></i></figure>
                        <aside class="description">
                            <header><h3>Aggregation</h3></header>
                            <p>Aggregate structure and facilitate the growth of our heritage for effective value communication and exchange </p>
                            <a href="agents-listing.html" class="link-arrow">Read More</a>
                        </aside>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box equal-height">
                        <figure class="icon"><i class="fa fa-money"></i></figure>
                        <aside class="description">
                            <header><h3>Enable Business</h3></header>
                            <p>Achive all these profitable and sustainably</p>
                            <a href="#" class="link-arrow">Read More</a>
                        </aside>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /#our-services -->
    
    <section id="price-drop" class="block">
      <div class="container">
          <header class="section-title">
              <h2>{{actname}} </h2>
              <a (click)="navigat(id)" class="link-arrow">All Properties</a>
          </header>
          <div class="row">
              <div class="col-md-3 col-sm-6" *ngFor="let r of resec" >
                  <div class="property">
                      <a  href="Content/{{r.id}}">
                          <div class="property-image">
                              <img alt="" class="img-rounded" src="https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{r.t_image}}">
                          </div>
                          <div class="overlay">
                              <div class="info">
                                  <div class="tag price">{{r.catname}}</div>
                                  <h3>{{r.name_title}}</h3>
                                  <figure>{{r.about}}</figure>
                              </div>
                              <ul class="additional-info">
                                  <li>
                                      <header>View:</header>
                                      <figure>{{r.view}}<sup>2</sup></figure>
                                  </li>
                                  <li>
                                      <header>Comment:</header>
                                      <figure>23</figure>
                                  </li>
                              </ul>
                          </div>
                      </a>
                  </div><!-- /.property -->
              </div><!-- /.col-md-3 -->
              
            
          </div><!-- /.row-->
      </div><!-- /.container -->
  </section><!-- /#price-drop -->
  <section id="price-drop" class="block">
    <div class="container">
        <header class="section-title">

            <!-- <h2>{{actname}} </h2>
            <a href="Category/" class="link-arrow">All Properties</a>
        </header>
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let r of resec">
                <div class="property">
                    <a (click)="navigate(r.id)"> -->
            <h2>{{actname1}}</h2>
            <a (click)="navigat(id1)" class="link-arrow">All Properties</a>
        </header>
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let r of resac">
                <div class="property">
                    <a href="Content/{{r.id}}">
                        <div class="property-image">
                            <img alt="" class="img-rounded" src="https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{r.t_image}}">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag price">{{r.catname}}</div>
                                <h3>{{r.name_title}}</h3>
                                <figure>{{r.about}}</figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>View:</header>
                                    <figure>{{r.view}}<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Comment:</header>
                                    <figure>23</figure>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div><!-- /.property -->
            </div><!-- /.col-md-3 -->

           
            

        </div><!-- /.row-->
    </div><!-- /.container -->
  </section><!-- /#price-drop -->
  <section id="price-drop" class="block">
  <div class="container">
      <header class="section-title">

          <!-- <h2>{{actname1}}</h2>
          <a href="Category/" class="link-arrow">All Properties</a>
      </header>
      <div class="row">
          <div class="col-md-3 col-sm-6" *ngFor="let r of resac"> -->

         <h2>{{actname2}}</h2>
          <a  (click)="navigat(id2)" class="link-arrow">All Properties</a>
      </header>
      <div class="row">
          <div class="col-md-3 col-sm-6" *ngFor="let r of resbc">

              <div class="property">
                  <a href="Content/{{r.id}}">
                      <div class="property-image">
                          <img alt="" class="img-rounded" src="https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{r.t_image}}">
                      </div>
                      <div class="overlay">
                        <div class="info">
                            <div class="tag price">{{r.catname}}</div>
                            <h3>{{r.name_title}}</h3>
                            <figure>{{r.about}}</figure>
                        </div>
                        <ul class="additional-info">
                            <li>
                                <header>View:</header>
                                <figure>{{r.view}}<sup>2</sup></figure>
                            </li>
                            <li>
                                <header>Comment:</header>
                                <figure>23</figure>
                            </li>
                        </ul>
                    </div>
                  </a>
              </div><!-- /.property -->
          </div><!-- /.col-md-3 -->

         
          
      </div><!-- /.row-->
  </div><!-- /.container -->
</section><!-- /#price-drop -->

    <aside id="advertising" class="block">
        <div class="container">
            <a href="submit.html">
                <div class="banner">
                    <div class="wrapper">
                        <span class="title">Do you know somthing About Ogun state</span>
                        <span class="submit">Contribute now! <i class="fa fa-plus-square"></i></span>

                    </div>
                </div><!-- /.banner-->
            </a>
        </div>
    </aside><!-- /#adveritsing-->
    <section id="new-properties" class="block">
        <div class="container">
            <header class="section-title">
                <h2>{{actname4}}</h2>
                <a (click)="navigat(id4)" class="link-arrow">All Properties</a>
            </header>
            <div class="row">
                <div class="col-md-3 col-sm-6" *ngFor="let r of resnc">
                    <div class="property">
                        <a href="Content/{{r.id}}">
                            <div class="property-image">
                                <img alt="" class="img-rounded" src="https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{r.t_image}}">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price" (click)="onClick()">{{r.catname}}</div>
                                    <h3>{{r.name_title}}</h3>
                                    <figure>{{r.about}}</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>View:</header>
                                        <figure>{{r.view}}<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Comment:</header>
                                        <figure>23</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div><!-- /.property -->
                </div><!-- /.col-md-3 -->  
               
               
            </div><!-- /.row-->
        </div><!-- /.container-->
    </section><!-- /#new-properties-->
    <section id="new-properties" class="block">
        <div class="container">
            <header class="section-title">
                <h2>{{actname5}}</h2>
                <a (click)="navigat(id5)" class="link-arrow">All Properties</a>
            </header>
            <div class="row">
                <div class="col-md-3 col-sm-6" *ngFor="let r of respc">
                    <div class="property">
                        <a href="Content/{{r.id}}">
                            <div class="property-image">
                                <img alt="" class="img-rounded" src="https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{r.t_image}}">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price" (click)="onClick()">{{r.catname}}</div>
                                    <h3>{{r.name_title}}</h3>
                                    <figure>{{r.about}}</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>View:</header>
                                        <figure>{{r.view}}<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Comment:</header>
                                        <figure>23</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div><!-- /.property -->
                </div><!-- /.col-md-3 -->  
               
               
            </div><!-- /.row-->
        </div><!-- /.container-->
    </section><!-- /#new-properties-->
    <section id="partners" class="block">
        <div class="container">
            <header class="section-title"><h2>Our Partners</h2></header>
            <div class="logos">
                <div class="logo"><a href=""><img src="assets/img/logo-partner-01.png" alt=""></a></div>
                <div class="logo"><a href=""><img src="assets/img/logo-partner-02.png" alt=""></a></div>
                <!-- <div class="logo"><a href=""><img src="assets/img/logo-partner-03.png" alt=""></a></div>
                <div class="logo"><a href=""><img src="assets/img/logo-partner-04.png" alt=""></a></div>
                <div class="logo"><a href=""><img src="assets/img/logo-partner-05.png" alt=""></a></div> -->
            </div>
        </div><!-- /.container -->
    </section><!-- /#partners -->
  </div>
  <!-- end Page Content -->