<div class="vd_content clearfix">
    <div class="vd_head-section clearfix">
      <div class="vd_panel-header">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a> </li>
          <li><a href="forms-elements.html">Forms</a> </li>
          <li class="active">Form Elements</li>
        </ul>
        <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
<div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
<div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
<div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>

</div>

      </div>
    </div>
    <div class="vd_title-section clearfix">
      <div class="vd_panel-header">
        <h1>{{actname}} Post</h1>
        <small class="subtitle">{{actname}} Post</small>
        <div class="vd_panel-menu"> 
          <div class="menu" data-action="click-trigger"> Go To <i class="fa fa-arrow-circle-o-right fa-fw"></i> </div>
          <div class="vd_mega-menu-content width-xs-3 left-xs" data-action="click-target">
            <div class="child-menu">
              <div class="content-list content-menu">
                <ul id="goto-menu" class="list-wrapper pd-lr-10">
                  <li> <a href="#form-basic"> <span class="menu-icon"><i class=" fa fa-th-list"></i></span> <span class="menu-text">Form Basic</span> </a> </li>
                  <li> <a href="#advanced-input"> <span class="menu-icon"><i class=" fa  fa-files-o"></i></span> <span class="menu-text">Advanced Input</span> </a> </li>
                  <li> <a href="#auto-complete-input"> <span class="menu-icon"><i class=" fa  fa-list-alt"></i></span> <span class="menu-text">Auto Complete Input</span> </a> </li>
                  <li> <a href="#switch-input"> <span class="menu-icon"><i class=" fa  fa-adjust"></i></span> <span class="menu-text">Switch Input</span> </a> </li>
                  <li> <a href="#date-input"> <span class="menu-icon"><i class=" fa  fa-calendar"></i></span> <span class="menu-text">Date Input</span> </a> </li>
                  <li> <a href="#bootstrap-date"> <span class="menu-icon"><i class=" fa  fa-calendar-o"></i></span> <span class="menu-text">Bootstrap DateRange Picker</span> </a> </li>
                  <li> <a href="#bootstrap-time"> <span class="menu-icon"><i class=" fa  fa-clock-o"></i></span> <span class="menu-text">Bootstrap Time Picker</span> </a> </li>
                  <li> <a href="#color-pickers"> <span class="menu-icon"><i class=" fa  fa-flask"></i></span> <span class="menu-text">Color Picker</span> </a> </li>
                  <li> <a href="#ck-editor"> <span class="menu-icon"><i class="fa  fa fa-pencil"></i></span> <span class="menu-text">CK Editor</span> </a> </li>
                  <li> <a href="#html5-editor"> <span class="menu-icon"><i class="fa  fa-bolt"></i></span> <span class="menu-text">Wysiwyg HTML 5</span> </a> </li>
                  <li> <a href="#file-upload"> <span class="menu-icon"><i class=" fa  fa-cloud-upload"></i></span> <span class="menu-text">File Upload</span> </a> </li>
                </ul>
              </div>
              <!-- content-list --> 
            </div>
            <!-- child-menu --> 
          </div>
          <!-- vd_mega-menu --> 
        </div>
      </div>
    </div>
    <!-- vd_title-section -->






    
    <div class="vd_content-section clearfix">
      

                  <!-- row -->
                  <div class="row">
                    <div class="col-md-8">
                      <div class="panel widget light-widget panel-bd-top">
                        <div class="panel-heading no-title"> </div>
                        <div class="panel-body">
                          <h3 class="mgtp--5"> {{catname}}</h3>
                          <div class="content-list content-blog-large">
                            <ul class="list-wrapper">
                              <li>
                                <div class="menu-icon"> <img alt="example image" [src]="image"> </div>
                                <div class="menu-text">
                                  <h2 class="blog-title font-bold letter-xs"><a href="#"> {{title}}</a></h2>
                                  <div class="menu-info">
                                    <div class="menu-date font-xs">{{dates}}</div>
                                  </div>
                                  <div class="menu-tags  mgbt-xs-15"> Tags: <a href="#"><span class="label vd_bg-yellow">Sports</span></a> <a href="#"><span class="label vd_bg-yellow">Hobby</span></a> <a href="#"><span class="label vd_bg-yellow">Blogs</span></a> <a href="#"><span class="label vd_bg-yellow">Journal</span></a> </div>
                                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore...</p>
                                  <a class="btn vd_btn vd_bg-green btn-sm" href="#">Read More</a> </div>
                              </li>                              
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- Panel Widget --> 
                      
                    </div>
                    <!-- col-md-4 -->
                    
                    <div class="col-md-4">
                      <div class="panel widget light-widget panel-bd-top vd_bdt-yellow">
                        <div class="panel-heading no-title"> </div>
                        <div class="panel-body">
                          <h3 class="mgtp--5"> Medium Size for Sidebar</h3>
                          <div class="content-list content-image">
                            <ul class="list-wrapper no-bd-btm">
                              <li> <a href="#">
                                <div class="menu-icon"><img src="assets/img/blog/01-square.jpg" alt="example image"></div>
                                <div class="menu-text pd-5">
                                  <h5 class="mgbt-xs-0">Blog Sidebar Title</h5>
                                  <div class="menu-info">
                                    <div class="menu-date font-xs">Posted: January 10th, 1987 </div>
                                  </div>
                                </div>
                                </a> </li>
                              <li> <a href="#">
                                <div class="menu-icon"><img src="assets/img/blog/02-square.jpg" alt="example image"></div>
                                <div class="menu-text pd-5">
                                  <h5 class="mgbt-xs-0">Cool Obligation</h5>
                                  <div class="menu-info">
                                    <div class="menu-date font-xs">Posted: February 19th, 2017 </div>
                                  </div>
                                </div>
                                </a> </li>
                              
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- Panel Widget --> 
                      
                    </div>
                    <!-- col-md-4 --> 
                    
                  </div>
                  <!--row --> 



                    <form  #signupForm=ngForm class="form-submit">
                       
                                   
                                 
                                            <div [formGroup]="orderForm">
                                                <div class="row" formArrayName="gcontents">
        
                                                        <div  *ngFor="let c of result; let i = index" [formGroupName]="i">                                   
                                           
                                            
                                                                <div class="row">
                                                                  <div class="col-md-8">
                                                                      <div class="form-group">
                                                                          <label for="submit-title">Title</label>
                                                                          <input type="text" formControlName="header" class="form-control" id="submit-title" name="header" required>
                                                                      </div>
                                                                  </div>                                            
                                                              </div>
                                                              <div class="row">
                                                                  <div class="col-md-8">
                                                                      <div class="form-group">
                                                                              <label for="submit-description">Content</label>
                                                                              <textarea data-rel="ckeditor" class="form-control" id="submit-description" rows="8" name="content"  formControlName="content" required></textarea>
                                                                          </div>
                                                                         
                                                                  </div>
                          
                                                              </div> 
      
<!--       
      <div class="row" id="ck-editor">
        <div class="col-md-12">
          <div class="panel widget">
            <div class="panel-heading vd_bg-grey">
              <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-pencil"></i> </span>Contents Editor </h3>
            </div>
            <div class="panel-body-list">
              <form class="form-horizontal" action="#" role="form">
                <div class="form-group">
                  <div class="col-sm-12 controls">
                    <textarea name="editor1" data-rel="ckeditor" rows="3" ></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>        
        </div>       
      </div>
       -->






            
    </div>                                         
  </div>                                                                                                            

</div>


<div class="row">
<div class="block">
<div class="col-md-9 col-sm-9">
<div class="center">

<div class="form-group center">
  <button type="submit" (click)="onSubmit()" [disabled]= "disabled" class="btn btn-default large" id="account-submit">
          <i id="loader2" *ngIf="disabled"  class="fa fa-spin fa-spinner"></i> {{sav}}</button>
</div><!-- /.form-group -->                                   

<!-- <figure class="note block">By clicking the “Proceed to Payment” or “Submit” button you agree with our <a href="terms-conditions.html">Terms and conditions</a></figure> -->
</div>
</div>

</div>
</div>
</form><!-- /#form-submit -->

      
     
      
    </div>
    <!-- .vd_content-section --> 
    
  </div>
  <!-- .vd_content --> 