
<div class="container">
        <header><h1>Your contribution here</h1></header>
        
        <div class="row">
            <div class="col-md-8 col-sm-12 ">
                    <header><h2>About</h2></header>
                    <mat-form-field>
                            <mat-label>Select to contribute</mat-label>
                            <mat-select [(ngModel)]="selectedid" name="category_id" (ngModelChange)="dataChanged($event)">
                              <mat-option value="" selected></mat-option>
                              <mat-option *ngFor="let r of res" [value]="r.id">
                                {{r.actname}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field><br>  


                <form  #signupForm=ngForm class="form-submit">
                    <div class="row">
                        <div class="block">
                            <div class="col-md-9 col-sm-9">
                                <section id="submit-form">                                  
    
                                    <section>
                                        <div class="row">
                                            <div class="block clearfix">
                                                <div class="col-md-12 col-sm-12">
                                                    <section id="summary" style="margin-top: -5%;">                                                        
                                                        <div class="form-group">
                                                            <label for="submit-location">Category</label><br>
                                                        <mat-form-field>
                                                            <mat-label>Category</mat-label>
                                                            <mat-select [(ngModel)]="form.category_id" name="category_id">
                                                              <mat-option value="" selected></mat-option>
                                                              <mat-option *ngFor="let cat of response" [value]="cat.id">
                                                                {{cat.catname}}
                                                              </mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                          </div>

                                                        <div class="form-group">
                                                            <label for="submit-location">Location</label>
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput  placeholder="Name Of Location" [(ngModel)]="form.location" name="location">
                                                              </mat-form-field>
                                                              <br>{{location}}
                                                        </div>                                                      
                                                       
                                                    </section><!-- /#summary -->
                                                </div><!-- /.col-md-6 -->
                              
                                            </div><!-- /.block -->
                                        </div><!-- /.row -->
                                    </section>

                                     <section id="basic-information">
                                        <header><h2>Content</h2></header>
                                    <div>
                                        
                                            <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="submit-property-type">Name or Title</label>
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput  placeholder="Name / Tittle" [(ngModel)]="form.name_title" name="name_title">
                                                              </mat-form-field>
                                                        </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-6 -->
                                                    <div class="col-md-5 col-sm-5">
                                                            <div class="form-group">
                                                                <label for="submit-area">Insert Image</label>
                                                                <div class="input-group">
                                                                    <input id="file-upload" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Browse Images" (change)="uploadFiles($event)">
                                                                    <span class="input-group-addon">m<sup>2</sup></span>
                                                                </div>
                                                            </div><!-- /.form-group -->
                                                        </div><!-- /.col-md-6 -->  
                                                    
                                                </div><!-- /.row --><hr>
                                                <!-- <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="submit-status">About</label>
                                                            <mat-form-field class="example-full-width">
                                                                <textarea matInput  placeholder="About" [(ngModel)]="form.about" name="about"></textarea>
                                                              </mat-form-field>
                                                        </div>
                                                    </div>
                                                    
                                                </div> -->
                                                <!-- <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="submit-area">Insert Image</label>
                                                            <div class="input-group">
                                                                <input id="file-upload" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Browse Images" (change)="uploadFiles($event)">
                                                                <span class="input-group-addon">m<sup>2</sup></span>
                                                            </div>
                                                        </div>
                                                    </div>                                               
                                                </div> -->

                                        <div *ngIf="getLength()">
                                        <div [formGroup]="orderForm" >
                                        <div  *ngFor="let i of items">
                                        
                                       
                                        
                                          <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="submit-title">Title</label>
                                                    <input type="text" class="form-control" value="{{i.header}}" id="submit-title" name="title" required>
                                                </div><!-- /.form-group -->
                                            </div>                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                        <label for="submit-description">Content</label>
                                                        <textarea class="form-control" id="submit-description" rows="8" name="submit-description" required>{{i.content}}</textarea>
                                                    </div>
                                                    <input type="button"  class="btn btn-primary btn-sm" (click)="deleteItem(i.id)" value="Remove Details">
                                            </div>

                                        </div>
                                       </div>
                                    </div>
                                </div>                                       

                                        <div [formGroup]="orderForm">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <mat-form-field class="example-full-width">
                                                        <label for="submit-title">Header</label>                                             
                                                        <input matInput formControlName="header" value="">
                                                        </mat-form-field>                                                            
                                                </div>   
                                            </div>                                                                                                            
                                            
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <mat-form-field class="example-full-width">
                                                        <label for="submit-description">Content</label>
                                                    
                                                        <textarea matInput formControlName="content"></textarea>
                                                    </mat-form-field>                                            

                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </section><!-- /#basic-information -->
                                    <button class="btn btn-default" (click)="addItem()">add</button>                               
                                    <hr>
                                </section>
                            </div><!-- /.col-md-9 -->
                        </div>
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="block">
                            <div class="col-md-9 col-sm-9">
                                <div class="center">
                                    
                                        <div class="form-group center">
                                            <button type="submit" (click)="onSubmit()" class="btn btn-default large" id="account-submit">Create Agency</button>
                                        </div><!-- /.form-group -->                                   
                                   
                                    <figure class="note block">By clicking the “Proceed to Payment” or “Submit” button you agree with our <a href="terms-conditions.html">Terms and conditions</a></figure>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </form><!-- /#form-submit -->      
                </div>

                </div>




                <!-- <div>
                        <form [formGroup]="orderForm">
                          <input formControlName="name" placeholder="Item name">
                          <input formControlName="description" placeholder="Item description">
                          <input formControlName="price" placeholder="Item price">
                        
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="name" placeholder="Favorite food" value="Sushi">
                                </mat-form-field>
                              
                                <mat-form-field class="example-full-width">
                                  <textarea matInput placeholder="Leave a comment"></textarea>
                                </mat-form-field>
                             
                        </form>
                      <button (click)="addItem()">add</button>
                      </div> -->