<!-- Page Content -->
<div id="page-content">
  <!-- Breadcrumb -->
  <div class="container">
      <ol class="breadcrumb">
          <li><a href="">Home</a></li>
          <li class="active">Thank you!</li>
      </ol>
  </div>
  <!-- end Breadcrumb -->

  <div class="container">
      <section class="center submission-message">
          <a href="" ><img src="assets/img/sabiogun.png" alt="brand"></a>
          <header>This  Page is still under construction</header>
          <p>Please sing in and go on with your contribution, we are coming soon</p>
          <a href="/" class="link-arrow">Go to homepage</a>
          <a href="Login" class="link-arrow">Log in</a>
      </section>
  </div><!-- /.container -->
</div>
<!-- end Page Content -->
